body {
	width: 900px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#navBar {
	height: 41px;
}

.displayNone {
	display: none;
}

.pageTitle {
	margin-top: 40px;
}

.errorIndicator {
	height: 10px;
}

.errorMessage {
	color: red;	
}

.formInline {
	display: inline;
	width: 175px;
}