.programName {
	font-size: 125%;
	padding-left: 10px;
}

.programButton {
	width: 20px;
	height: 23px;
}

.programNameDetail {
	display: inline-block;
	width: 150px;
}

.programNumberDetail {
	display: inline-block;
	width: 50px;
}

.programDetail {
	left:37px;
	top: 10px;
	position: relative;
}

.programAddButtonDiv {
	position: relative;
	top: 10px;
	padding-bottom: 10px;
}

.testClass {
	display: inline
}