<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<!--OTHER CSS HERE-->
		<script src="/js/libs/jquery-1.9.0/jquery.min.js"></script>
		<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/js/libs/angularjs-1.0.2/angular.js"></script>
		<script src="/js/libs/d3-3.0.1/d3.v3.min.js"></script>
		<script src="/js/shared/loadNavBar.js"></script>
		<script src="/js/shared/util.js"></script>
		<!--OTHER JS HERE-->
		<script src="/js/account/login.js"></script>
	</head>
	<body>
		<div id="navBar"></div>
		<div class="pageTitle">
			<h1>Login</h1>
		</div>
		<div class="loginForm" ng-controller="loginForm">
			<form id=loginForm" class="form-horizontal" ng-submit="submitForm()">
				<div class="form-group">
					<label class="col-lg-2 control-label" for="inputEmail">Email</label>
					<div class="col-lg-10 controls">
						<input id="inputEmail" class="form-control formInline" type="text" ng-model="email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label" for="inputPassword">Password</label>
					<div class="col-lg-10 controls">
						<input id="inputPassword" class="form-control formInline" type="password" ng-model="password">
					</div>
				</div>
				<div class="controls">
					<button id="submitFormButton" type="submit" class="btn btn-primary {{formOkay}}">Login</button>
					<button id="cancelButton" type="submit" class="btn btn-link">Cancel</button>
				</div>
				<div class="controls">
					<img id="loginBadIndicator" class="errorIndicator displayNone" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
					<span id="loginBadMessage" type="submit" class="errorMessage displayNone">Wrong email/password combination!</span>
				</div>
			</form>
		</div>
	</body>
</html>