<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Sign Up For DYEL Fitness</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<script src="/js/libs/jquery-1.9.0/jquery.min.js"></script>
		<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/js/libs/angularjs-1.0.2/angular.js"></script>
		<script src="/js/libs/d3-3.0.1/d3.v3.min.js"></script>
		<script src="/js/shared/loadNavBar.js"></script>
		<script src="/js/shared/util.js"></script>
		<script src="/js/account/signUp.js"></script>
	</head>
	<body>
		<div id="navBar"></div>
		<div class="pageTitle">
			<h1>Sign Up!</h1>
		</div>
		<div class="signUpForm" ng-controller="signUpForm">
			<form id=signUpForm" class="form-horizontal" ng-submit="submitForm()">
					<div class="form-group">
						<label class="col-lg-2 control-label" for="inputEmail">Email</label>
						<div class="col-lg-10">
							<input id="inputEmail" class="form-control formInline" type="text" ng-model="email">
							<img id="emailBad" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
							<img id="emailOkay" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_206_ok_2.png"></img>
							<span id="emailTaken" class="displayNone">That email is taken.</span>
							<span id="emailNotTaken" class="displayNone">That email is available.</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="inputFirstName">First Name</label>
						<div class="col-lg-10">
							<input id="inputFirstName" class="form-control formInline" type="text" ng-model="firstName">
							<img id="firstNameBad" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
							<img id="firstNameOkay" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_206_ok_2.png"></img>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="inputLastName">Last Name</label>
						<div class="col-lg-10">
							<input id="inputLastName" class="form-control formInline" type="text" ng-model="lastName">
							<img id="lastNameBad" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
							<img id="lastNameOkay" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_206_ok_2.png"></img>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="inputPassword">Password</label>
						<div class="col-lg-10">
							<input id="inputPassword" class="form-control formInline" type="password" ng-model="password">
							<img id="passwordBad" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
							<img id="passwordOkay" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_206_ok_2.png"></img>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="inputPasswordAgain">Password again</label>
						<div class="col-lg-10">
							<input id="inputPasswordAgain" class="form-control formInline" type="password" ng-model="passwordAgain">
							<img id="passwordAgainBad" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_207_remove_2.png"></img>
							<img id="passwordAgainOkay" class="displayNone errorIndicator" src="/img/glyphicons/glyphicons_206_ok_2.png"></img>
						</div>
					</div>
					<div class="controls">
						<button id="submitFormButton" type="submit" class="btn btn-primary {{formOkay}}">Sign Up!</button>
						<button id="cancelButton" type="submit" class="btn btn-link" onclick="go('/')">Cancel</button>
					</div>
			</form>
		</div>
	</body>
</html>