<script src="/js/shared/_navBarAuth.js"></script>
<div class ="navbar navbar-inverse navbar-fixed-top" ng-controller="getUser">
	<div class="navbar-inner">
		<div class="container">
			<a class="navbar-brand" href="/index.html">DYELFitness</a>
			<div class="nav-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span>Programs</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/program/getPrograms.html">
									All Programs
								</a>
							</li>
							<li>
								<a href="/program/myPrograms.html">
									My Programs
								</a>
							</li>
							<li>
								<a href="#">
									Create A Program
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a>Visualizer</a>
					</li>
					<li>
						<a>Sport Genie BETA</a>
					</li>
					<li>
						<a>Workout Wizard</a>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown" ng-controller="getUser">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span id="emailHere"></span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/program/myPrograms.html">
									My Programs
								</a>
							</li>
							<li>
								<a href="#">
									My Account
								</a>
							</li>
							<li>
								<a href="/account/logout">
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>