<div class ="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="navbar-brand" href="/index.html">DYELFitness</a>
			<div class="nav-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="/program/getPrograms.html">Programs</a>
					</li>
					<li>
						<a>Visualizer</a>
					</li>
					<li>
						<a href="/account/signUp.html">Sign Up</a>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="/account/login.html">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>