<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Programs</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="stylesheet" type="text/css" href="/css/program/program.css">
		<script src="/js/libs/jquery-1.9.0/jquery.min.js"></script>
		<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/js/libs/angularjs-1.0.2/angular.js"></script>
		<script src="/js/libs/d3-3.0.1/d3.v3.min.js"></script>
		<script src="/js/shared/loadNavBar.js"></script>
		<script src="/js/shared/util.js"></script>
		<script src="/js/program/program.js"></script>
		<script src="/js/libs/linq/linq.js"></script>
	</head>
	<body>
		<div id="navBar"></div>
		<div class="pageTitle">
			<h1>Programs</h1>
		</div>
		<div class="program" ng-controller="program">
			<input type="text" ng-model="searchText" class="form-control formInline search-query" placeholder="Program"></input>
			<div ng-repeat="program in programs | filter:searchFilter | orderBy:'programName'" style="padding: 10px">
				<button id="{{program.programId}}Expand" programName="{{program.programName}}" class="btn btn-default btn-small programButton" 
						ng-click="viewProgram();">+</button>
				<span class="programName">{{program.programName}} by {{program.FirstName}} {{program.LastName}}</span>
				<div class="programDetail" ng-class="program">
					<div class="{{program.programId}}Info displayNone">
						<span class="programNameDetail">
							<b>Exercise</b>
						</span>
						<span class="programNumberDetail">
							<b>Sets</b>
						</span>
						<span class="programNumberDetail">
							<b>Reps</b>
						</span>
					</div>
					<div class="{{program.programId}}Info displayNone" ng-repeat="programDetail in getInfo(program.programId)" 
						 ng-click="showProgramInfo();">
						<span class="programNameDetail">
							{{programDetail.exerciseName}}
						</span>
						<span class="programNumberDetail">
							{{programDetail.sets}}
						</span>
						<span class="programNumberDetail">
							{{programDetail.reps}}
						</span>
					</div>
					<div class="{{program.programId}}Info displayNone programAddButtonDiv">
						<button id="{{program.programId}}Add" programName="{{program.programName}}" 
								class="btn btn-success {{program.enableButton}}" ng-click="addProgram(program.programId);">{{program.buttonText}}</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>